# Pandas Exporting Data
- to csv
- to exel
- to html
- to json
- to sql

In [1]:
import pandas as pd
df = pd.DataFrame()

## To CSV

In [10]:
df = pd.read_csv('deliveries.csv')
df.sample(5)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
29172,126.0,2.0,Kolkata Knight Riders,Rajasthan Royals,4.0,5.0,BB McCullum,CH Gayle,AD Mascarenhas,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,2.0,NaN,NaN,NaN
123410,520.0,2.0,Kings XI Punjab,Rajasthan Royals,14.0,5.0,GJ Bailey,AR Patel,DS Kulkarni,0.0,...,0.0,0.0,0.0,0.0,4.0,0.0,4.0,NaN,NaN,NaN
41145,175.0,2.0,Deccan Chargers,Kolkata Knight Riders,10.0,3.0,AC Gilchrist,HH Gibbs,BJ Hodge,0.0,...,0.0,0.0,0.0,0.0,6.0,0.0,6.0,NaN,NaN,NaN
174082,11330.0,1.0,Royal Challengers Bangalore,Chennai Super Kings,20.0,3.0,M Ali,UT Yadav,DJ Bravo,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
98878,417.0,2.0,Royal Challengers Bangalore,Mumbai Indians,13.0,5.0,J Syed Mohammad,SS Tiwary,Harbhajan Singh,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,NaN,NaN,NaN

In [14]:
temp_df = df.groupby('batsman')['batsman_runs'].sum().reset_index()
# to_csv function is used to export the dataframe to a csv file .
temp_df.to_csv('batsman_runs.csv',index=False)
# here index=False is used to avoid the index column in the csv file  .

In [17]:
tempp = df.pivot_table(index='batsman',columns='bowling_team',values='batsman_runs',aggfunc='sum').reset_index()
tempp.to_csv('batsman_vs_bowling_team.csv',index=False)

## To Exel