# Pandas Exporting Data
- to csv
- to exel
- to html
- to json
- to sql

In [15]:
import pandas as pd
df = pd.DataFrame()

## To CSV

In [16]:
df = pd.read_csv('deliveries.csv')
df.sample(5)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
1295,6.0,1.0,Gujarat Lions,Sunrisers Hyderabad,15.0,4.0,DR Smith,KD Karthik,Bipul Sharma,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,NaN,NaN,NaN
140641,595.0,1.0,Royal Challengers Bangalore,Gujarat Lions,11.0,1.0,KL Rahul,V Kohli,RA Jadeja,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
136340,576.0,2.0,Chennai Super Kings,Mumbai Indians,17.0,2.0,F du Plessis,P Negi,R Vinay Kumar,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,F du Plessis,caught,RG Sharma
174938,11333.0,2.0,Kings XI Punjab,Royal Challengers Bangalore,20.0,1.0,R Ashwin,Mandeep Singh,UT Yadav,0.0,...,0.0,0.0,0.0,0.0,6.0,0.0,6.0,NaN,NaN,NaN
13335,57.0,1.0,Sunrisers Hyderabad,Kolkata Knight Riders,15.0,2.0,Yuvraj Singh,V Shankar,PP Chawla,0.0,...,0.0,0.0,0.0,0.0,4.0,0.0,4.0,NaN,NaN,NaN

In [17]:
temp_df = df.groupby('batsman')['batsman_runs'].sum().reset_index()
# to_csv function is used to export the dataframe to a csv file .
temp_df.to_csv('batsman_runs.csv',index=False)
# here index=False is used to avoid the index column in the csv file  .

In [18]:
tempp = df.pivot_table(index='batsman',columns='bowling_team',values='batsman_runs',aggfunc='sum').reset_index()
tempp.to_csv('batsman_vs_bowling_team.csv',index=False)

## To Exel

In [25]:
# Save DataFrame to Excel
temp_df.to_excel("batsman_runs.xlsx")

In [26]:
# Save with custom sheet name
temp_df.to_excel("output.xlsx", sheet_name='batsman_runs')

In [27]:
# Create pivot table
temp_df2 = df.pivot_table(
    index='batsman',
    columns='bowling_team',
    values='batsman_runs',
    aggfunc='sum'
)

In [28]:
# Save multiple DataFrames to different sheets in the same Excel file
with pd.ExcelWriter('output.xlsx') as writer:
    temp_df.to_excel(writer, sheet_name='Sheet_name_1')
    temp_df2.to_excel(writer, sheet_name='Sheet_name_2')

## To HTML

In [30]:
df.query('batsman_runs == 6').pivot_table(
    index='over',
    columns='ball',
    values='batsman_runs',
    aggfunc='count'
).to_html("sixes_heatmap.html")

## To JSON

In [31]:
df.groupby(['batting_team', 'batsman'])['batsman_runs'].sum().unstack().to_json('ipl.json')

## To SQL
- not sure how to do it !

In [38]:
# !pip install pymysql
from sqlalchemy import create_engine

Requirement already satisfied: pymysql in c:\users\ritesh\appdata\local\programs\python\python313\lib\site-packages (1.1.2)

In [49]:
# engine = create_engine("mysql+pymysql://root:11649872@MySQL@localhost/ipl")
#
# # {root}:{password}@{url}/{database}
# df.to_sql('ipl_delivery', con=engine, if_exists='append')